carpentry: "incubator"
curriculum: "FIXME"
flavor: "FIXME"
pilot: true
title: "An Introduction to the Internet of Things"
kind: "workshop"
repository: <USERNAME>/<PROJECT>
email: "team@carpentries.org"
amy_site: "https://amy.carpentries.org"
carpentries_github: "https://github.com/carpentries"
carpentries_pages: "https://carpentries.github.io"
carpentries_site: "https://carpentries.org/"
dc_site: "https://datacarpentry.org"
example_repo: "https://github.com/carpentries/lesson-example"
example_site: "https://carpentries.github.io/lesson-example"
incubator: "https://github.com/carpentries-incubator/"
lc_site: "https://librarycarpentry.org/"
swc_github: "https://github.com/swcarpentry"
swc_pages: "https://swcarpentry.github.io"
swc_site: "https://software-carpentry.org"
template_repo: "https://github.com/carpentries/styles"
training_site: "https://carpentries.github.io/instructor-training"
workshop_repo: "https://github.com/carpentries-incubator/iot-novice"
workshop_site: "https://carpentries-incubator.github.io/iot-novice/"
workshop_site: "https://carpentries-incubator.github.io/iot-novice/"
cc_by_human: "https://creativecommons.org/licenses/by/4.0/"
pre_survey: "https://forms.office.com/e/hmV32ArjbP"
post_survey: "https://forms.office.com/e/1vqtwM3Mge"
start_time: 0
collections:
  episodes:
    output: true
    permalink: /:path/index.html
  extras:
    output: true
    permalink: /:path/index.html
defaults:
  - values:
      root: .
      layout: page
  - scope:
      path: ""
      type: episodes
    values:
      root: ..
      layout: episode
  - scope:
      path: ""
      type: extras
    values:
      root: ..
      layout: page
exclude:
  - Makefile
  - bin/
  - .Rproj.user/
  - .vendor/
  - vendor/
  - .docker-vendor/
highlighter: rouge
